
body {
	width: 100%;
	height: 100%;
	padding: 100px;
	margin: 0;
}
html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.container {
	height: 100%;
}
.chat {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.chat > .chat-history {
	flex: 1;
}
.people-list {
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
}
#usersList {
	flex: 1;
	margin: 0;
	display: flex;
	flex-direction: column;
	border: 3px solid transparent;
	border: none;
	padding: 20px 20px 0;
}
#homePage {
	padding: 20px;
	background: hsla(0, 0%, 0%, 0.12);
}

#userData {
	margin-top: 20px;
}
.update-block {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.profile-field > input {
	width: 100%;
	padding: 6px 10px;
}
.profile-field::before {
	content: attr(name) ": ";
}
.profile-status {
	display: flex;
	gap: 10px;
	cursor: default;
}
.profile-status label {
	transition: color .2s;
	cursor: pointer;
}
.profile-status label:hover {
	color: #d0faff;
}
.profile-status input:checked + label {
	color: #57efff;
}
#userData button {
	border-radius: 3px;
	border: none;
	padding: 6px 10px;
	color: white;
	background: var(--bg, hsl(229, 5%, 44%));
	font-size: 12px;
	cursor: pointer;
	transition: .1s ease;
}
#userData button > .fa {
	margin-right: 4px;
}
#userData button:hover {
	background: var(--bg-hover, hsl(229, 5%, 46%));
}
#userData button:active {
	background: var(--bg-active, hsl(229, 5%, 38%));
}
.bottom-buttons {
	display: flex;
	gap: 8px;
}
#saveUserData {
	flex: 1;
	--bg: hsl(152, 57%, 42%);
	--bg-hover: hsl(152, 59.7%, 45%);
	--bg-active: hsl(152, 55.7%, 36%);
}
#showUserData {
	flex: 2;
	--bg: hsl(194, 56.6%, 42%);
	--bg-hover: hsl(194, 59.7%, 45%);
	--bg-active: hsl(194, 55.7%, 36%);
}
#logoutButton {
	--bg: hsl(345, 47%, 42%);
	--bg-hover: hsl(345, 50%, 45%);
	--bg-active: hsl(345, 46%, 36%);
}